.intro__list-item{
    max-width: 690px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
